@font-face {
	font-family: "glosgow";
	src: local('Glosgow-Bold'), local('Glosgow-Bold'), url('fonts/Glasgow-Bold.ttf') format('truetype');
}

@font-face {
	font-family: "glosgow-regular";
	src: local('Glosgow-Regular'), local('Glosgow-Regular'), url('fonts/Glasgow-Regular.ttf') format('truetype');
}

@font-face {
	font-family: "glosgow-medium";
	src: local('Glosgow-Medium'), local('Glosgow-Medium'), url('fonts/Glasgow-Medium.ttf') format('truetype');
}