form
{
	&.main_search_form
	{
		padding: 15px 0px 0px 5px;
	}
	.input-row-vertical
	{
		padding-right: 6px;
		position:relative;
		display: block;
		float:left;

		.input-label
		{
			padding: 0px 0px 4px 8px;
			height:27px;
			font-weight: normal;
			display:block;
			font-family: "glosgow-medium";
			font-size:18px;
			color:$main_font_color;
		}

		.form-input
		{
			&.searchbar
			{
				padding: 9px 30px;
				width:189px;
				height:15px;
				color:#00192f;
				border:none;
				background: url('../img/field.png') 100% no-repeat;
			}

			&.form-zipcode
			{
				padding: 9px 11px;
				width: 77px;
				height: 15px;
				color:#22384b;
				border: none;
				background: url('../img/field1.png') 100% no-repeat;
			}

		}

		.form-select
		{
			&.select-radius
			{
				width: 145px;
				height:33px;
				position:relative;
				z-index:5;

				padding-left: 30px;
				overflow:hidden;
				color: #fff;
				font-weight: bold;
				width:145px;
				line-height:33px;
				background: url('../img/selectBg.png') no-repeat;
				border:none;
				
				option
				{
					color:#000;
				}
			}
		}

		.input-button
		{
			&.search-button
			{
				padding-left: 8px;
				cursor: pointer;
				width: 107px;
				color: #fff;
				font-weight: bold;
				height:31px;
				float:left;
				border:none;
				background: url('../img/button.png') no-repeat;
			}
		}
	}

	&.form-horizontal
	{
		.input-row
		{
			width:100%;
			clear:both;
			
			a
			{
				color:$black_font;
			}
			
			.input-label
			{
				font-weight: bold;
				display:block;
				font-size:12px;
				color: $main_font_color;
				font-family: Arial;
			}

			.form-input
			{
				padding:9px 10px;
				width: 229px;
				height:15px;
				color: #00192f;
				border:none;
				background: url('../img/field_blank.png') 100% no-repeat;
			}

			.button
			{
				margin-top:5px;
				border: 0;
				padding: 3px;
				border-radius: 5px;
				font-weight: bold;
				cursor: pointer;
				height:28px;
				padding:3px 10px 3px 10px;

				&.button-green
				{
					background-color: #46c200;
					color: #fff;
				}
			}
		}
	}
}