// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "main_variables";
@import "fonts";
@import "form";

body
{
	font-family: $main_font;
	font-size:12px;
	color: #004783;
	background: #fff url('../img/body-bg.jpg') repeat-x;
}
*{ padding: 0; margin: 0;}

.clear
{
	clear:both;
	height:0px;
	overflow:hidden;
}

h1,h2,h3,h4,h5,h6
{
	font-family: 'glosgow';
	color: $main_font_color;
	font-weight: bold;

	span
	{
		font-weight: normal;
		color: $main_text_color;
	}
}

h1
{
	font-size:30px;
}

h2
{
	font-size:24px;
}

#wrapper
{
	position: relative;
	display: block;
	width:100%;
	min-height:100%;
	background: url('../img/bg.jpg') center top no-repeat;


	.main_content
	{
		margin: 0 auto;
		width:$page_width;

		.header_content
		{
			position: relative;
			z-index: 100;
			width:100%;
			height:293px;

			.logo
			{
				position: absolute;
				left: 1px;
				z-index: 100;
				display: block;
				width:165px;
				height:269px;
			}

			.small_menu
			{
				padding:20px 0px 10px 0px;
				width:100%;
				overflow: hidden;

				ul
				{
					list-style:none;
					float:right;
					li
					{
						padding: 0px 12px;
						float:left;
						font-size:11px;

						a
						{
							display:block;
							color: $main_text_color;
							text-decoration: none;

							&.logout
							{
								font-weight: bold;
							}

							&:hover
							{
								text-decoration: underline;
							}
						}
					}
				}
			}

			.main_menu
			{
				width:776px;
				float:right;

				ul.tabs
				{
					list-style:none;
					li
					{
						padding-left: 10px;
						margin-right:3px;
						float:left;
						height:57px;
						line-height: 50px;
						margin-top:18px;

						span
						{
							float:left;
							display: block;
							position: relative;
							padding-right:6px;
							a
							{
								font-family: "glosgow";
								color: $main_font_color;
								font-size:22px;
								text-decoration: none;
								padding: 0px 21px 0px 9px;
								height:57px;
								display:block;

								&:before
								{
									display:block;
									margin: 0 6px 0 0;
									float:left;
									margin-top:16px;
									width: 20px;
									height:57px;
								}
							}
						}

						&.selected
						{
							background: url('../img/form-left.jpg') left top no-repeat;

							a
							{
								background: url('../img/form-right.jpg') right top no-repeat;
							}
						}

						&.search
						{
							span
							{
								a:before
								{
									content: "";
									background: url('../img/icon.jpg') no-repeat;
								}
							}
						}

						&.categories
						{
							span
							{
								a
								{
									z-index: 300;
									position: relative;
								}
							}
						}

						&.advertisement
						{
							span
							{
								a
								{
									color: $light_green;
									z-index: 100;
									position: relative;
								}
								a:before
								{
									content: "";
									background: url('../img/icon1.jpg') no-repeat;
								}
							}
						}

						&.account
						{
							z-index: -2;
							span
							{
								a
								{
									color: $main_text_color;
								}

								a:before
								{
									content: "";
									background: url('../img/icon2.jpg') no-repeat;
								}
							}
						}
					}
				}

				.rubrics_menu
				{
					position: absolute;
					top: 61px;
					left: 175px;
					width:300px;
					z-index: 199;
					background: url('../img/rubriekTop2.png') no-repeat left top;
					padding-top:49px;
					display:none;

					&.showing
					{
						display:block;
					}
					.top
					{
						padding-bottom:9px;
						overflow:hidden;
						width:374px;
						background: url('../img/rubBottom.png') no-repeat left bottom;
					}

					.bottom
					{
						padding: 1px 0px 0px 7px;
						overflow:hidden;
						background: url('../img/rubBg.png') repeat-y;
						width:380px;
						min-height: 100px;

						.categories
						{
							padding-top:10px;
							&.left
							{
								width:50%;
								float:left;
							}

							&.right
							{
								width:50%;
								float:right;
							}

							ul
							{
								list-style: none;

								li
								{
									display: block;
									padding:0px 0px 3px 4px;
									height:24px;
									line-height: 1.2em;

									a
									{
										display: block;
										font-size:12px;
										width:184px;
										text-decoration: none;
										color: $main_font_color;
										font-family:"glosgow-regular";
										font-weight:200;
									}
								}
							}
						}
					}
				}
			}
		}

		.middle_content
		{
			overflow:hidden;
			width:$page_width;
			background: url('../img/ad-mid.jpg') repeat-y; min-height:750px;
			margin-top:-15px;

			.left_content
			{
				padding-right: 19px;
				float:left;
				width:167px;
			}

			.custom_content
			{
				width:768px;
				float:left;
			}

			.content-box
			{
				h1
				{
					padding: 0px 0px 13px 0px;
					font-size:24px;
				}
				h2
				{
					padding:0px 0px 13px 13px;
				}

				p
				{
					padding: 0px 0px 10px 0px;
					color: $black_font;
				}
			}

			.content-box-50
			{
				width:50%;
				float:left;

				p
				{
					a
					{
						padding-bottom:0px;
						display:block;
						font-style:normal;
						text-decoration: none;
					}
				}

				.advertisements-small
				{
					width:100%;
					background: url('../img/banner-mid.jpg') repeat-y;
					margin-bottom:10px;

					ul
					{
						list-style-type:none;

						li
						{
							z-index: 0;
							margin:1px 0;
							padding:10px;
							position: relative;
							clear:both;

							a
							{
								margin-bottom:1px;
								display:block;
								text-decoration: none;
								font-size:12px;

								img
								{
									width:44px;
									max-height: 34px;
									margin-top:0px;
									margin-left:0px;
									top:0px;
									left:0px;

									margin:3px;
									float:left;
									position: relative;
									overflow-y:hidden;
								}

								span.advert_text
								{
									padding:5px 0px 5px 5px;
									margin-left:5px;
									display:block;
									float:left;
									width: 300px;
									height:25px;
									background: #fff;

									span.price
									{
										display:block;
										font-weight: bold;
										color: $main_text_color;
									}
								}
							}
						}

						li:last-child
						{
							margin-bottom:10px;
						}
					}
				}

				.content-box-100
				{
					width:100%;
					float:left;
					overflow: hidden;
				}

				.thumb-galery
				{
					list-style: none;

					li
					{
						width:85px;
						margin:3px;
						float:left;
						position: relative;
						overflow-y:hidden;
						height:63px;

						a
						{
							img
							{
								width:85px;
								height: 63px;
							}
						}
					}
				}

				&.loginbox
				{
					width:350px;
					min-height: 200px;
					background: #d9edf9;
					padding:15px 0px 18px 15px;
					border: 1px solid #d9edf9;
					border-radius: 3px;

					a
					{
						text-decoration: underline;
					}

					h3
					{
						padding: 0px 0px 13px 0px;
						margin-top: -5px;
						font-size: 14px;
					}

					p
					{
						padding: 0px 0px 10px 0px;
						color: $black_font;

						a.new
						{
							color:$light_green;
							padding: 20px 0px 0px 24px;
							display: block;
							background: url('../img/icon1.png') left 18px no-repeat;

						}
					}
					ul
					{
						list-style: square;
						padding: 10px 0px 0px 35px;

						li
						{
							color:$black_font;
						}
					}
				}

				&.align-right
				{
					float:right;
				}
			}
		}
	}
}

.footer_content
{
	overflow:hidden;
	width:100%;
	border-top:3px solid #D4EaF9;

	.center
	{
		margin: 0px auto;
		width:$page_width;
	}

	.right
	{
		padding-top:17px;
		float:right;
		width:166px;

		p
		{
			padding: 0px 0px 17px 23px;
			color: #22384b;
		}
	}

	ul
	{
		padding-top: 24px;
		list-style: none;
		float:left;
		
		li
		{
			padding: 0 19px;
			list-style: none;
			float:left;
			a
			{
				color:$main_text_color;
				display:block;
				text-decoration: none;
				font-size:11px;

				&:hover
				{
					text-decoration: underline;
				}
			}
		}
	}

	ul.link
	{
		padding-left:50px;
		list-style: none;
		
		li
		{
			padding: 0px 10px;
			float:left;
			font-weight:bold;

			a
			{
				display:block;
				color: $main_font_color;
				text-decoration: none;

				&:hover
				{
					text-decoration: underline;
				}

				&.advertisement
				{
					color:#2caa00;
				}

				&.account
				{
					color:$main_text_color;
				}
			}
		}
	}
}